@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

html,
body {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/hero/newabi\ outdoor.jpg") !important;
    background-size: cover;
    top: 50%;
    font-family: "Poppins", sans-serif;
}

.global-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    width: 490px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.card-title {
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
    /* font-size: 1.1rem; */
    padding-bottom: 10px;
    padding-top: 20px;
}
.card-title:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 4px;
    width: 100px;
    border-radius: 2px;
    background-color: #7460ee;
}
.card-body p {
    font-size: 13px;
    color: rgb(83, 83, 83);
    font-style: italic;
}
.field {
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px;
}

.field:focus {
    outline: none;
    border: none;
    margin: 5;
    /* border: 2px solid #7460ee; */
}

.btn {
    background-color: #7460ee;
    color: white;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 20px;
    margin-bottom: 10px;
}

a:hover {
    font-weight: 900;
    transition: 0.3s;
}

.btn-google {
    background-color: red;
    color: white;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 20px;
    padding: 7px;
    margin-bottom: 10px;
}
.btn-facebook {
    background-color: #016efc !important;
    color: white;
    /* transform: translateY(10px); */
    font-size: 14px;
    border-radius: 20px;
    padding: 7px;
    margin-bottom: 10px;
}

.btn-google:hover {
    font-weight: 900;
    transition: 0.3s;
    color: white;
}
.btn-facebook:hover {
    font-weight: 900;
    transition: 0.3s;
    color: white;
}
