.form-check-inline {
    margin-right: 10px;
    /* display: inline; */
}
input[name="pickup"] + label {
    display: block;
}

input[name="pickup"] + label .card {
    box-shadow: none;
    border: 2px solid #dee2e6;
    color: #535353;
}

input[name="pickup"] + label i {
    opacity: 0;
}

input[name="pickup"]:checked + label i {
    opacity: 1;
}

input[name="pickup"]:checked + label .card {
    border: 2px solid #00a2ea;
    background-color: rgb(0, 162, 234, 0.1);
    color: #00a2ea;
}
